<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">SHOP</a>
            <a class="navbar-brand" href="/shop/mens">Mens</a>
            <a class="navbar-brand" href="/shop/womens">Womens</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="nothov">
                  <form action="/search" method="get">
                      <input type="text" name="string" autocomplete="off" id="search">
                      <input type="hidden" name="_csrf" value="{{csrfToken}}">
                      <button type="submit" class="btn btn-danger" type="button">Search</button>
                  </form>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><i class="fa fa-money" aria-hidden="true"></i> Choose currency <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                <li>    <a {{#if usd}}class="active"{{else}}href="/usd" {{/if}}>USD</a></li>
                  <li>  <a {{#if eur}}class="active"{{else}}href="/eur" {{/if}}>EUR</a>   </li>
                    <li>  <a {{#if gbp}}class="active"{{else}}href="/gbp" {{/if}}>GBP</a>   </li>
                      <li>  <a {{#if ron}}class="active"{{else}}href="/ron" {{/if}}>RON</a>   </li>
                        <li>  <a {{#if uah}}class="active"{{else}}href="/uah" {{/if}}>UAH</a>   </li>
                  </ul>
              </li>
                <li>
                  <a href="/shopping-cart/">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                    <span class="badge">{{session.cart.totalQty}}</span>
                  </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {{# if  login}}
                      <li><a href="/user/profile">User Account</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/user/logout">Logout</a></li>
                      {{   else }}
                      <li><a href="/user/signup">Sign up</a></li>
                      <li><a href="/user/signin">Sign in</a></li>
                      {{/if}}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container-fluid -->
</nav>
