<div class="row">
    <div class="bread">
        <a href="/">Home </a> /  <a href="/user/profile">User Profile </a> /
    </div>
</div>
<div  class="row">
  <div  class="col-md-8 col-md-offset-2">
    <h1>User  Profile</h1>
    <hr>
    <h2>My Orders</h2>
    {{# each orders}}
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-group">
          {{# each this.items}}
          <li class="list-group-item">
            <span class="badge">{{this.price}}</span>
            {{this.items.name}} | {{this.qty}}  Units
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="panel-footer">
        <strong>Total Price: ${{this.cart.totalPrice}}</strong></div>
    </div>
    {{/each}}
  </div>
</div>
