<div class="row">
    <div class="bread">
        <a href="/">Home </a> /  <a href="/user/signin">Sign In </a> /
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="loginBox">
    <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" class="profile-img">
        <h1>Sign In</h1>
        {{#if hasErrors}}
<div class="alert alert-danger">
{{# each messages}}
<p>{{this}}</p>
{{/each}}
</div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" placeholder="Enter Email"  class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="••••••"   class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
          <p>Don`t have an account? <a href="/user/signup">Sign up instead!</a></p>
          <p>
            <a class="facebook" href="/user/facebook ">
                <i class="fa fa-facebook"></i> facebook
            </a>
                <a class="google" href="/user/google">
                <i class="fa fa-google-plus-g"></i> google
            </a>
        </p>
    </div>
</div>
