.bread {
    background-color:#F5F5F5;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}



.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.facebook {
    padding: 10px 30px;
    border-radius: 20px;
}

.google {
    padding: 10px 70px;
    border-radius: 20px;
    margin-left: 3px;
}

.profile-img {
  width:  100px;
  height: 111px;
}

/*streap line*/
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.paybox {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    /*height: 80%;*/
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);

}

#card-errors {

    color: red;
    background: black;
    font-size: 22px;
    opacity: 0.7;
    text-align: center;
}

#pay-btn {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #32325d;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

#pay-btn:hover {
    background: #efed40;
    color: #262626;
}

.success-pay {
    text-align: center;
    margin: 30px;
    background: #730a34;
    width: 30%;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    padding: 5px;
}

/*-----------------------------*/
body {
  font-family: "Lato", Helvetica, Arial;
  font-size: 14px;
}

.navbar-default {
height: 50px;
}

#search {
    margin: 10px;
}
