<div class="success-pay {{# if noSuccesMsg }}hidden{{/if}}">{{succesMsg}}</div>
<div class="container">
    {{# each categories}}
        <h4 id="{{id}}"><span>{{name}}</span>
        </h4>
          <p>{{page_description}}</p>
           <!-- <a href="/shop/{{id}}" id="link">View products</a> -->
           <form action="/shop/{{id}}" id="link">
    <button type="submit"class="btn btn-primary">View products</button>
</form>
    {{/each}}
</div>
