<div class="row">
    <div class="bread">
        <a href="/">Home </a> /<a href="/shop/mens"> Mens </a>
    </div>
</div>
<div class="container">
    {{# each categories}}
        <div>
            <h3>{{page_title}}</h3>
            {{# each this.categories}}
                <h4 id="{{id}}"><span>{{name}}</span>
              </h4>
                <div>
                    <h3>{{page_title}}</h3>
                    <p>{{page_description}}</p>
                    {{# if image}}
                        <img src="../images/{{image}}">
                    {{/if}}
                    <!-- <a href="/shop/{{id}}" id="link">View products</a> -->
                    <form action="/shop/{{id}}" id="link">
             <button type="submit"class="btn btn-primary">View products</button>
         </form>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
