<style xmlns="http://www.w3.org/1999/html">
    .choose {
        display: inline-block;
        font-size: 14px;
    }

    ul.hor_nav {
margin: 0;
padding: 0;
}
ul.hor_nav li {
display: inline;
margin-right: 4px;
padding: 2px;
}
</style>

<div class="row">
    <div class="bread">
        <a href="/">Home </a> /
        <a {{#if breadcrumbs}} href="/shop/{{breadcrumbs}}"{{/if}}>{{breadcrumbs_name}}  </a> /
        <a href="/products/{{breadcrumbs}}-{{second_breadcrumbs_name}}">{{second_breadcrumbs_name}} </a> /
        <a >{{product.name}}</a>
    </div>
</div>
<div class="row col">
    <div class="col-sm-6 col-md-6">
        <h2 class="text-center">{{product.name}}</h2>
        <div id="gallery">
            <img src="../images/{{large.link}}" alt="{{large.alt}}" title="{{large.title}}" id="main-img"/>
            <ul class="hor_nav">
                {{#each smal }}
                    <li><img src="../images/{{this.link}}" alt="{{this.alt}}"/></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <p>{{{product.long_description}}}</p>
        <form action="/add-to-cart" method="post">
            {{#each product.variation_attributes as |value key|}}
                <h1>{{value.name}}</h1>
                {{#each value.values}}


                    <p class="choose">
                        <input type="radio" name="{{value.id}}" value="{{name}}" id="{{this.value}}" required>
                        <label for="{{this.value}}">{{name}}</label>
                      </p>

                            <!-- <p class="choose">
                              <input type="submit" name="{{value.id}}" value="{{name}}" id="{{this.value}}" required class="btn btn-primary pull-right" role="button">
                           </p> -->



                {{/each}}
            {{/each}}
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="_id" value="{{product._id}}"><br><br><br>
            <div class="price pull-left"> Price: {{product.price}} {{product.cur}}  </div>
            <input type="submit" class="btn btn-primary pull-right" id="yelow-btn"
                   role="button" value="Add to Shoping Cart">
        </form>
    </div>


    <script type="text/JavaScript">
        $(document).ready(function () {
            $("#gallery li img").hover(function () {
                $('#main-img').attr('src', $(this).attr('src').replace('small', 'large'));
            });
            var imgSwap = [];
            $("#gallery li img").each(function () {
                imgUrl = this.src.replace('small', 'large');
                imgSwap.push(imgUrl);
            });
            $(imgSwap).preload();
        });
        $.fn.preload = function () {
            this.each(function () {
                $('<img/>')[0].src = this;
            });
        }
    </script>
