<div class="row">
    <div class="bread">
        <a href="/">Home </a> /
    </div>
</div>
{{# if products}}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{#each products}}
                <li class="list-group-item">
                    <strong class="totalPrice accordion">{{this.items.name}}</strong>
                                <span class="badge">{{this.price}}</span>
                    <div class="right panel">
                        {{#if color}} <p> Color : {{this.color}}</p>{{/if}}
                        {{#if size}} <p> Size : {{this.size}}</p>{{/if}}
                        {{#if width}} <p> Width : {{this.width}}</p>{{/if}}
                        <p>Count:{{this.qty}}</p>
                        <p>Price: ${{this.price}}</p>
                        <form action="/add-to-cart" method="post" style="display: inline-block">
                            <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                            <input type="hidden" name="color" value="{{color}}">
                            <input type="hidden" name="size" value="{{size}}">
                            <input type="hidden" name="width" value="{{width}}">
                            <input type="hidden" name="_id" value="{{items._id}}">
                            <button type="submit" class="btn btn-primary" role="button">+</button>
                        </form>
                        <a href="/reduce/{{this.items._id}}" class="btn btn-info" role="button">-</a>
                        <a href="/remove/{{this.items._id}}" class="btn btn-danger" role="button">Delete</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
            <strong>    <li class="list-group-item totalPrice">
                    Total: {{totalPrice}} $
                  </strong>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 center">
            <a href="/checkout" class="btn btn-success checkout" type="button">Checkout</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <h2>No items in a cart</h2>
                </li>
            </ul>
        </div>
    </div>
{{/if}}
