<div class="row">
    <div class="bread">
        <a href="/">Home </a> /<a href="/shop/womens"> Womens </a> /<a href="/shop/womens-clothing"> Womens-clothing </a>
    </div>
</div>
<div class="container">
    {{# each categories}}
        <div>

                        <h4 id="{{id}}"><span>{{this.name}}</span>
                        </h4> <!-- title -->
                        <div>
                            <h3>{{page_title}}</h3>
                            <p>{{page_description}}</p>
                            {{# if image}}
                                <img src="../images/{{image}}">
                            {{/if}}
                            <!-- <a href="/products/{{id}}" id="link">View products</a> -->
                            <form action="/products/{{id}}" id="link">
                     <button type="submit"class="btn btn-primary">View products</button>
                 </form>
                        </div>

        </div>
    {{/each}}
</div>
